body {
	background: #f8f8f8;
	background-image: url("/img/tiles-02.png");
	padding-top: 20px;
}

.error {
	color: blue;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

/* p.error:before {
	font-family: FontAwesome;
	content: "\f00d";
	display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
}

 */.container {
	width: 406px;
	max-width: 406px;
	margin: 0 auto;
}

/* Start - index.erb */

#start h1 {
	color: #fd395e;
	text-align: center;
	margin-bottom: 5px;
}

#start h1.title {
	color: #fd395e;
	text-transform: uppercase;
	margin-bottom: 5px;
	text-align: center;
}

#start {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#start .header {
    margin-bottom: 20px;
}

#start .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

#start .inputs {
    margin-top: 25px;
}

#start .inputs label {
    color: #fd395e;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
		text-transform: italic;
}

input::-webkit-input-placeholder {
    color:    #fd395e;
}

input:-moz-placeholder {
    color:    #fd395e;
}

#start .inputs input[type=text] {
    background: #f5f5f5;
    font-size: 14px;
/*     -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
 */    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#start .inputs input[type=text]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

/* #start .inputs .datepicker {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#start .inputs input[type=date] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

 */#start .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#start .inputs .button {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: #fd395e;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#start .inputs .button:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: #fd395e;
}

/* Anagram Results - show.erb */

#show {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    border-radius: 5px;
    display: table;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#show h1 {
	color: #fd395e;
	text-align: center;
}

#show h1.showword {
	color: #fd395e;
	font-size: 30px;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
}

#show img.displayed {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#show ul.lists {
	list-style-type: none;
	text-align: center;
  padding: 20px 0 0 0;
  margin: 0;
}

#show li {
	font-size: 30px;
	color: #fd395e;
	text-transform: uppercase;
}

#show p {
  text-align: center;
  color: #fd395e;
}

#show-list {
    padding: 0px 25px 25px;
    background: #f2f2f2;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    border-radius: 5px;
    display: table;
    width: 450px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
