<form id="start" action="/" method="post">
	<div class="header">
		<h1>Welcome To Our</h1>
		<h1 class="title">Anagram Generator</h1>
	</div>

	<div class="sep"></div>

	<div class="inputs">
		<label for="word">3 Letter Words ONLY Please!</label>
		<input type="text" name="word" /></br>
		<input type="submit" class="button" value="Submit To See Your Anagrams" />
	</div>
</form>
