<div id="show">
	<h1>Anagrams for</h1>
	<h1 class="showword"><%= "#{@word}" %></h1>

	<img class="displayed" src="/img/arrow.png" />
	
	<ul class="lists">
		<% if !@anagrams.nil? %>
			<% @anagrams.each do |anagram| %>
				<li><%= "#{anagram.text}" %></li>
			<% end %>
		<% end %>
	</ul>
  </br>
  </br>
  <p>**** <a href="/">Try another word</a> **** </p>
  <p>**** <a href="/words">View Database</a> **** </p>
 
</div>